.App {
  padding: 30px;
  display: flex;
  width: 250px;

}

.App > div {
  margin-right: 50px;
  word-wrap: normal;
}

.display {
  border-radius: 15px ;
  padding: 20px;
  background-color: rosybrown;
  border-style: outset;
}


.button {
  width: 250px;
  border-radius: 15px ;
  padding: 20px;
  background-color: lightblue;
  border-style: outset;
}

.input {
  border-radius: 15px ;
  padding: 20px;
  background-color: lightblue;
  border-style: outset;
}
.red{
  color:red
}

.blue {
  color: deepskyblue;
}

.none {
  display: none !important;
}

